@using ProjectManager.Model;
@{
    string Title = (string)ViewBag.title;
}
@if (TempData.Keys.Count>0) { 
    <script type="text/javascript">
        alert('@TempData["message"]');
    </script>
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/Header.css">
    <link rel="stylesheet" href="~/Content/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="icon" href="~/img/favicon.ico">
    <link href="~/Content/dashboard.css" rel="stylesheet">
    <!-- 引入上传文件修饰 -->
    <link href="~/Content/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />


</head>



<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="../../img/logo.png" class="header-logo" alt="Responsive image">
            @if((ViewBag.userInfo.belongs)=="a"){
            <a class="navbar-brand" href="#">科研项目管理系统</a>
               string title = "科研";
              ViewBag.Title=title;
            }
            else{
            <a class="navbar-brand" href="#">质量工程项目管理系统</a>
                string title = "质量工程";
                ViewBag.Title = title;
            }
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><span class="header-span">身份:@ViewBag.userInfo.type</span></li>
                <li><span class="header-span">账号:@ViewBag.userInfo.ID</span></li>
                <li><span class="header-span">姓名:@ViewBag.userInfo.nickname</span></li>
                @{
                    if (@ViewBag.userInfo.type!="a")
                    {
               <li><a href="~/Admin">管理入口</a></li>
                }
                }
                <li><a href="~/Login/Logout">返回登录界面</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                  <li ><a href="~/UserManager/">@(ViewBag.Title)项目成果 <span class="sr-only">(current)</span></a></li>
                <li><a href="~/UserManager/Project_Schedule">@(ViewBag.Title)项目进度</a></li>
                <li><a href="~/UserManager/Project_Declare">@(ViewBag.Title)项目申报</a></li>
                <li class="active"><a href="~/UserManager/Personal_Project">个人项目及信息</a></li>
            </ul>
        </div>


        <div class="col-sm-12 col-sm-offset-3 col-md-10 col-md-offset-2 main">

		   <div>
            <h2 class="sub-header clearfix">
               <span class="col-md-4">个人申报项目及信息</span>
               <span class="col-md-8">
               	<form class="form-inline col-md-7 col-sm-8" action="/UserManager/Personal_Project" role="form" method="get">
				   <div class="form-group">
				      <label class="sr-only" for="name">项目名称</label>
				      <input type="text" class="form-control" id="name" 
				         placeholder="请输入项目名称" name="keyword">
				   </div>
				   <button type="submit" class="btn btn-default ">搜索</button>
				</form>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_PerInfo" style="float:right;">编辑个人信息</button>
               	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_CdPw" style="float:right;margin-right:10px">
				  修改密码
			   </button>
               </span>
             </h2>
          </div>

           <div class="row">	
               @foreach (EachSchedule project in @ViewBag.project.GetPagingData())
               {
                   switch (project.state)
                   {
                       case "a":
                            <div class="col-md-4">
				            <div class="panel panel-warning">
				              <div class="panel-heading">
				                <h4 class="panel-title">@project.name</h4>
				              </div>
				              <div class="panel-body">
				                <h5>课题类型:@project.type</h5>
				                <h5>所处级别:@project.now_level</h5>
				                <h5>目标级别:@project.target_level</h5>
				                <h5>规划时段:@project.start_time 至 @project.end_time</h5>
				                <h5>负责人:@project.Leader_nickname</h5>
				                <h5 class="label label-warning">状态:申报等待结果...</h5>
				                <h5><a href="~/UserManager/Personal_Project_Disabled/@project.ID" class="btn btn-warning" role="button">详情</a></h5>
				                <h5>
				    	            <button type="button" class="btn btn-default show_project_comment" data-toggle="modal" data-target="#myModal_Status">状态描述</button>
				                </h5>
                                  <input type="hidden" class="panel_project_id" value="@project.ID"/>
                                 <input type="hidden" class="panel_project_name" value="@project.name"/>
                                 <input type="hidden" class="panel_project_state"value="申报等待结果..."/>
				              </div>
				            </div>	
			              </div>
                         break;
                         case "b":
                           <div class="col-md-4">
				            <div class="panel panel-danger">
				              <div class="panel-heading">
				                <h4 class="panel-title">@project.name</h4>
				              </div>
				              <div class="panel-body">
				                <h5>课题类型:@project.type</h5>
				                <h5>所处级别:@project.now_level</h5>
				                <h5>目标级别:@project.target_level</h5>
				                <h5>规划时段:@project.start_time 至 @project.end_time</h5>
				                <h5>负责人:@project.Leader_nickname</h5>
				                <h5 class="label label-danger">状态:申报未通过</h5>
				                <h5>
                                    <form action="/UserManager/DeleteProject" method="get">
                                       <a href="~/UserManager/Personal_Project_Disabled/@project.ID" class="btn btn-danger" role="button">详情</a>
                                        <input type="hidden" name="project_id" value="@project.ID"/>
                                        <input type="hidden" name="project_name" value="@project.name"/>
                                        <button  class="btn btn-danger" style="margin-left: 4px;" type="submit">取消申报</button>
                                     </form>
				                </h5>
				                <h5>
				    	             <button type="button" class="btn btn-default show_updatefile_button" data-toggle="modal" data-target="#myModal_File">材料更新</button>
				    	            <button type="button" class="btn btn-default show_project_comment" data-toggle="modal" data-target="#myModal_Status">状态描述</button>
				                </h5>
                                  <input type="hidden" class="panel_project_id"value="@project.ID"/>
                                  <input type="hidden" class="panel_project_name"value="@project.name"/>
                                 <input type="hidden" class="panel_project_state"value="申报未通过"/>
				              </div>
				            </div>	
			              </div> 
                         break;
                         case "c":
                         <div class="col-md-4">
				            <div class="panel panel-info">
				              <div class="panel-heading">
				                <h4 class="panel-title">@project.name</h4>
				              </div>
				              <div class="panel-body">
				                <h5>课题类型:@project.type</h5>
				                <h5>所处级别:@project.now_level</h5>
				                <h5>目标级别:@project.target_level</h5>
				                <h5>规划时段:@project.start_time 至 @project.end_time</h5>
				                <h5>负责人:@project.Leader_nickname</h5>
				                <h5 class="label label-info">状态:通过申报,等待进度完成后审核..</h5>
				                <h5><a href="~/UserManager/Personal_Project_Disabled/@project.ID" class="btn btn-info" role="button">详情</a> <a href="Project_Schedule_Each.html" class="btn btn-info" role="button">进度查看</a>
				                </h5>
				                <h5>
				    	            <button type="button" class="btn btn-default UpdateProjectState" data-toggle="modal" data-target="#myModal_Task">任务编辑</button>
				    	            <button type="button" class="btn btn-default show_project_comment" data-toggle="modal" data-target="#myModal_Status">状态描述</button>
				                </h5>
                                <input type="hidden" class="panel_project_id"value="@project.ID"/>
                                  <input type="hidden" class="panel_project_name" value="@project.name"/>
                                 <input type="hidden" class="panel_project_state"value="通过申报,等待进度完成后审核.."/>
				              </div>
				            </div>	
			              </div>
                         break;
                         case "d":
			              <div class="col-md-4">
				            <div class="panel panel-danger">
				              <div class="panel-heading">
				                <h4 class="panel-title">@project.name</h4>
				              </div>
				              <div class="panel-body">
				                <h5>课题类型:@project.type</h5>
				                <h5>所处级别:@project.now_level</h5>
				                <h5>目标级别:@project.target_level</h5>
				                <h5>规划时段:@project.start_time 至 @project.end_time</h5>
				                <h5>负责人:@project.Leader_nickname</h5>
				                <h5 class="label label-danger">状态:审核一未通过</h5>
				                <h5><a href="~/UserManager/Personal_Project_Disabled/@project.ID" class="btn btn-danger" role="button">详情</a></h5>
				                <h5>
				    	            <button type="button" class="btn btn-default show_updatefile_button" data-toggle="modal" data-target="#myModal_File">材料更新</button>
				    	            <button type="button" class="btn btn-default show_project_comment" data-toggle="modal" data-target="#myModal_Status">状态描述</button>
				                </h5>
                                  <input type="hidden" class="panel_project_id"value="@project.ID"/>
                                 <input type="hidden" class="panel_project_name" value="@project.name"/>
                                 <input type="hidden" class="panel_project_state"value="审核一未通过"/>
				              </div>
				            </div>	
			              </div>
                         break;
                         case "e":
                         <div class="col-md-4">
				            <div class="panel panel-info">
				              <div class="panel-heading">
				                <h4 class="panel-title">@project.name</h4>
				              </div>
				              <div class="panel-body">
				                <h5>课题类型:@project.type</h5>
				                <h5>所处级别:@project.now_level</h5>
				                <h5>目标级别:@project.target_level</h5>
				                <h5>规划时段:@project.start_time 至 @project.end_time</h5>
				                <h5>负责人:@project.Leader_nickname</h5>
				                <h5 class="label label-info">状态:已通过审核一，等待审核二</h5>
				                <h5><a href="~/UserManager/Personal_Project_Disabled/@project.ID" class="btn btn-info" role="button">详情</a></h5>
				                <h5>
				    	            <button type="button" class="btn btn-default show_project_comment" data-toggle="modal" data-target="#myModal_Status">状态描述</button>
				                </h5>
                                  <input type="hidden" class="panel_project_id"value="@project.ID"/>
                                 <input type="hidden" class="panel_project_name" value="@project.name"/>
                                 <input type="hidden" class="panel_project_state"value="已通过审核一，等待审核二"/>
				              </div>
				            </div>	
			              </div>
                         break;
                         case "f":
                         <div class="col-md-4">
				            <div class="panel panel-danger">
				              <div class="panel-heading">
				                <h4 class="panel-title">@project.name</h4>
				              </div>
				              <div class="panel-body">
				                <h5>课题类型:@project.type</h5>
				                <h5>所处级别:@project.now_level</h5>
				                <h5>目标级别:@project.target_level</h5>
				                <h5>规划时段:@project.start_time 至 @project.end_time</h5>
				                <h5>负责人:@project.Leader_nickname</h5>
				                <h5 class="label label-danger">状态:审核二未通过</h5>
				                <h5><a href="~/UserManager/Personal_Project_Disabled/@project.ID" class="btn btn-danger" role="button">详情</a></h5>
				                <h5>
				    	            <button type="button" class="btn btn-default show_updatefile_button" data-toggle="modal" data-target="#myModal_File">材料更新</button>
				    	            <button type="button" class="btn btn-default show_project_comment" data-toggle="modal" data-target="#myModal_Status">状态描述</button>
				                </h5>
                                  <input type="hidden" class="panel_project_id"value="@project.ID"/>
                                  <input type="hidden" class="panel_project_name" value="@project.name"/>
                                 <input type="hidden" class="panel_project_state"value="审核二未通过"/>
				              </div>
				            </div>	
			              </div>
                         break;
                         case "g":
                         <div class="col-md-4">
				            <div class="panel panel-info">
				              <div class="panel-heading">
				                <h4 class="panel-title">@project.name</h4>
				              </div>
				              <div class="panel-body">
				                <h5>课题类型:@project.type</h5>
				                <h5>所处级别:@project.now_level</h5>
				                <h5>目标级别:@project.target_level</h5>
				                <h5>规划时段:@project.start_time 至 @project.end_time</h5>
				                <h5>负责人:@project.Leader_nickname</h5>
				                <h5 class="label label-info">状态:已通过审核二，等待审核三</h5>
				                <h5><a href="~/UserManager/Personal_Project_Disabled/@project.ID" class="btn btn-info" role="button">详情</a></h5>
				                <h5>
				    	            <button type="button" class="btn btn-default show_project_comment" data-toggle="modal" data-target="#myModal_Status">状态描述</button>
				                </h5>
                                  <input type="hidden" class="panel_project_id"value="@project.ID"/>
                                  <input type="hidden" class="panel_project_name" value="@project.name"/>
                                 <input type="hidden" class="panel_project_state"value="已通过审核二，等待审核三"/>
				              </div>
				            </div>	
			              </div>
                         break;
                         case "h":
                         <div class="col-md-4">
				            <div class="panel panel-danger">
				              <div class="panel-heading">
				                <h4 class="panel-title">@project.name</h4>
				              </div>
				              <div class="panel-body">
				                <h5>课题类型:@project.type</h5>
				                <h5>所处级别:@project.now_level</h5>
				                <h5>目标级别:@project.target_level</h5>
				                <h5>规划时段:@project.start_time 至 @project.end_time</h5>
				                <h5>负责人:@project.Leader_nickname</h5>
				                <h5 class="label label-danger">状态:审核三未通过</h5>
				                <h5><a href="~/UserManager/Personal_Project_Disabled/@project.ID" class="btn btn-danger" role="button">详情</a></h5>
				                <h5>
				    	            <button type="button" class="btn btn-default show_updatefile_button" data-toggle="modal" data-target="#myModal_File">材料更新</button>
				    	            <button type="button" class="btn btn-default show_project_comment" data-toggle="modal" data-target="#myModal_Status">状态描述</button>
				                </h5>
                                  <input type="hidden" class="panel_project_id"value="@project.ID"/>
                                  <input type="hidden" class="panel_project_name" value="@project.name"/>
                                 <input type="hidden" class="panel_project_state"value="审核三未通过"/>
				              </div>
				            </div>	
			              </div>
                         break;
                         case "i":
                         <div class="col-md-4">
				            <div class="panel panel-success">
				              <div class="panel-heading">
				                <h4 class="panel-title">@project.name</h4>
				              </div>
				              <div class="panel-body">
				                <h5>课题类型:@project.type</h5>
				                <h5>所处级别:@project.now_level</h5>
				                <h5>目标级别:@project.target_level</h5>
				                <h5>规划时段:@project.start_time 至 @project.end_time</h5>
				                <h5>负责人:@project.Leader_nickname</h5>
				                <h5 class="label label-success">状态:已通过全部审核</h5>
				                <h5><a href="~/UserManager/Personal_Project_Disabled/@project.ID" class="btn btn-success" role="button">详情</a>
				                </h5>
				                <h5>
				    	            <button type="button" class="btn btn-default show_project_comment" data-toggle="modal" data-target="#myModal_Status">状态描述</button>
				                </h5>
                                  <input type="hidden" class="panel_project_id"value="@project.ID"/>
                                  <input type="hidden" class="panel_project_name" value="@project.name"/>
                                 <input type="hidden" class="panel_project_state"value="已通过全部审核."/>
				              </div>
				            </div>	
			              </div>
                         break;
                   }
               }

                   <div class="row">
                 
                       <div class="offset5 span7 col-md-12 col-sm-12 col-xs-12">
                             <ul class="pagination" style="display: table;width: auto;margin-left: auto;margin-right: auto">
                                     @if (@ViewBag.project.HasPrev)
                                {
                                  <li><a href="@Url.Action("Personal_Project", "UserManager", new { pageIndex = @ViewBag.project.PageIndex - 1 })">上一页</a></li>
                                }
                                  else{
                                    <li><a href="#">上一页</a></li>
                                }
                                @for (int i = 1; i <= @ViewBag.project.PageCount; i++)
                                 {
          
                                   if (@ViewBag.project.PageIndex == i)
                                    {
                                         <li class="active"><a>@i</a></li>
                                    }
                                    else{
                                        <li><a href="@Url.Action("Personal_Project", "UserManager", new { pageIndex = i })">@i</a></li>
                                    }
                                 }
                                  @if (@ViewBag.project.HasNext)
                                {
                                  <li><a href="@Url.Action("Personal_Project", "UserManager", new { pageIndex = @ViewBag.project.PageIndex +1 })">下一页</a></li>
                                }
                                  else{
                                        <li><a href="#">下一页</a></li>
                                  }
                               </ul>
                       </div>
                 
                   </div>
</div>



<div class="modal fade" id="myModal_CdPw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
  	<form class="form-horizontal" id="pwdform">
    <div class="modal-content"> 	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改密码</h4>
      </div>
      <div class="modal-body">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">原密码</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" id="OldPwd_input" placeholder="请输入原来密码" name="OldPwd" >
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" id="NewPwdd_input" placeholder="请输入新密码" name="NewPwdd">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">再次密码</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" id="NewPwd_input" placeholder="请再次输入新密码" name="NewPwd">
		    </div>
		  </div>       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="update_pwd">保存修改</button>
      </div>
    </div>
    </form>
  </div>
</div>

<!-- 任务编辑 -->
<div class="modal fade" id="myModal_Task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
  	<form class="form-horizontal" id="UpdateTaskStateForm">
     <input type="hidden" name="Task_project_id" id="Task_project_id"/ >      
    <div class="modal-content"> 	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="project_name">某某某项目任务编辑</h4>
      </div>
      <div class="modal-body" id="task_state">
		  
     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="UpdateTaskStateButton">保存修改</button>
      </div>
    </div>
    </form>
  </div>
</div>


<!-- 状态描述 -->
<div class="modal fade" id="myModal_Status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_project_name">项目状态</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert" id="modal_project_state">状态描述:项目申报成功，等待进度完成后审核</div>
        <div class="alert alert-warning" role="alert" id="modal_project_comment">管理员留言:阿迪萨斯的撒旦</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- 材料更新 -->
<div class="modal fade" id="myModal_File" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
  	<form class="form-horizontal" action="/UserManager/UpdateProjectFile" enctype="multipart/form-data" method="post" id="modal_updatefile_form">
    <div class="modal-content"> 	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_updatefile_pname">某某某项目材料更新</h4>
      </div>
      <div class="modal-body">
		  <div class="form-group">
               <input type="hidden" name="project_name" id="modal_updatefile_ppname"/>
              <input type="hidden" name="project_id" id="modal_updatefile_pid"/>
                      <div class="row">
                         <div class="col-md-1 col-sm-1 col-xs-1"></div>
                         <div class="col-md-10 col-sm-10 col-xs-10">
                          <h4>开题报告word文档上传</h4>
                            <input id="report_file" class="file1" name="report_file"  type="file">
                         </div>   
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                         <div class="col-md-1 col-sm-1 col-xs-1"></div>
                         <div class="col-md-10 col-sm-10 col-xs-10">
                          <h4>论文材料word文档上传</h4>
                            <input id="paper_file" class="file1" name="paper_file" type="file">
                         </div>   
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                         <div class="col-md-1 col-sm-1 col-xs-1"></div>
                         <div class="col-md-10 col-sm-10 col-xs-10">
                          <h4>项目完整材料打包上传</h4>
                            <input id="whole_file" class="file2" name="whole_file" type="file">
                         </div>   
                      </div>
                    </div>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="modal_updatefile_button">更新</button>
      </div>
    </div>
    </form>
  </div>
</div>








<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="myModal_PerInfo">
  <div class="modal-dialog" role="document">
<!--     <div class="modal-content"> -->      
       <form id="UserInfoForm">  
        <div class="panel panel-default">

           <div class="panel-heading">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="panel-title">账号(教职工号)</h3>
           </div>
           <div class="panel-body">
             <h5>@ViewBag.user.ID</h5>
           </div>
           <div class="panel-heading">
            <h3 class="panel-title">姓名</h3>
           </div>
           <div class="panel-body">
             <div class="form-group">
			    <label class="sr-only">姓名</label>
			    <input type="text" class="form-control" id="nickname" name="nickname" placeholder="请输入姓名" value="@ViewBag.user.nickname">
			  </div>
           </div>
           <div class="panel-heading">
            <h3 class="panel-title">性别</h3>
           </div>
           <div class="panel-body">
               @if (ViewBag.user.sex == "男")
               {
                   <label class="radio-inline">
			          <input type="radio" name="sex" value="男" checked="checked"> 男
			         </label>
			         <label class="radio-inline">
			          <input type="radio" name="sex"value="女"> 女
			         </label>
               }
               else
               {
                   <label class="radio-inline">
			          <input type="radio" name="sex" value="男" checked="checked"> 男
			         </label>
			         <label class="radio-inline">
			          <input type="radio" name="sex" value="女" checked="checked"> 女
			         </label>
               }
           </div>
           <div class="panel-heading">
            <h3 class="panel-title">职务</h3>
           </div>
           <div class="panel-body">
             <div class="form-group">
			    <label class="sr-only">职务</label>
			    <input type="text" class="form-control" id="position" name="position"placeholder="请输入职务名称" value="@ViewBag.user.position">
			  </div>
           </div>
           <div class="panel-heading">
            <h3 class="panel-title">手机号码</h3>
           </div>
           <div class="panel-body">
             <div class="form-group">
			    <label class="sr-only">手机号码</label>
			    <input type="text" class="form-control" id="phone" name="phone" placeholder="请输入手机号码" value="@ViewBag.user.phone">
			  </div>
           </div>
           <div class="panel-heading">
            <h3 class="panel-title">邮箱</h3>
           </div>
           <div class="panel-body">
             <div class="form-group">
			    <label class="sr-only">邮箱</label>
			    <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱" value="@ViewBag.user.email">
			  </div>
           </div>

			<div class="panel-footer clearfix">
				<button type="button" id="UpdateUserInfo_button" class="btn btn-primary" style="float:right;margin-left:10px;">保存修改</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" style="float:right;">关闭</button>
		    </div>


         </div>

         
      </form>	

<!--     </div> -->
  </div>
</div>



<script src="~/Scripts/jquery.min.js"></script> 
<script src="~/Content/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/ie-emulation-modes-warning.js"></script>
<script src="~/Scripts/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>
<!-- 引入上传文件插件及初始化 -->
<script src="~/Scripts/fileinput.min.js" type="text/javascript"></script>
<script src="~/Scripts/fileinput_locale_zh.js" type="text/javascript"></script>
<script type="text/javascript">
    $(".file1").fileinput({
        'allowedFileExtensions': ['doc', 'docx'],
        'showUpload': false
    });
    $(".file2").fileinput({
        'allowedFileExtensions': ['zip', 'rar'],
        'showUpload': false
    });

    //密码修改js匿名函数
    (function () {
        $("#update_pwd").click(function () {
            var oldpwd = $("OldPwd_input").val();
            var newpwdd = $("#NewPwdd_input").val();
            var newpwd = $("#NewPwd_input").val();
            if (newpwd == '' || oldpwd == '' || newpwdd == '') {
                alert("输入项不能留空!");
            }
            else {
                if (newpwdd != newpwd) {
                    alert("两次密码输入不一致!");
                }
                else {
                    $.ajax({
                        url: "/UserManager/UpdateUserPwd",
                        type: "POST",
                        data: $("#pwdform").serialize(),
                        datatype: "json",
                        success: function (data) {
                            if (data == 'a') {
                                alert("修改密码成功!");
                            }
                            else if (data == 'b') {
                                alert("原密码输入错误!");
                            }
                            else if (data == 'c') {
                                alert("密码修改失败!");
                            }
                        }
                    });
                }
            }

        });

    })();

    //个人信息修改js匿名函数
    (function () {
        $("#UpdateUserInfo_button").click(function () {
            var nickname = $("#nickname").val().trim();
            var position = $("#position").val().trim();
            var phone = $("#phone").val().trim();
            var email = $("#email").val().trim();
            function match_str(reg, str) {
                if (reg.test(str)) {
                    return true;
                }
                else {
                    return false;
                }
            }
            var phone_match = match_str(/^1[358][0-9]{8}[0-9]$/, phone);
            var email_match = match_str(/^([a-zA-Z0-9]+)@@[a-zA-Z0-9]+\.([a-zA-Z0-9]+)$/, email);
            if (nickname == '' || position == '' || phone == '' || email == '') {
                alert("输入项不能留空!");

            }
            else {
                if (!phone_match) {
                    alert("手机号码格式为13、15、18开头的11位纯数字");
                }
                else {
                    if (!email_match) {
                        alert("邮箱格式不对!");
                    }
                    else {
                        $.ajax({
                            url: "/UserManager/UpdateUserInfo",
                            type: "POST",
                            data: $("#UserInfoForm").serialize(),
                            datatype: "json",
                            success: function (data) {
                                if (data) {
                                    alert("信息修改成功!");
                                }
                                else {
                                    alert("信息修改失败!");
                                }
                            }
                        });
                    }
                }
            }
        });
    })();



    //正在进度的项目任务编辑
    (function () {
        $(".UpdateProjectState").each(function () {
            $(this).click(function () {
                $("#task_state").html("");
                var project_name = $(this).parent().next().next().val();
                $("#project_name").text(project_name + "任务编辑");
                var project_id = $(this).parent().next().val();
                project_id = parseInt(project_id);
                $("#Task_project_id").val(project_id);
                console.log(project_id);
                $.ajax({
                    url: "/UserManager/ReturnTasksState/" + project_id,
                    type: "POST",
                    datatype: "json",
                    success: function (data) {

                        data = eval(data);
                        console.log(data);
                        for (var index in data) {
                            var item = $("<div>");
                            item.addClass("form-group");
                            if (data[index].state == "a") {
                                item.html("<label for='inputPassword3' class='col-sm-2 control-label'>" + data[index].task + "</label><div class='col-sm-10 col-xs-10 col-md-9'><label class='radio-inline'><input type='radio' name='" + data[index].ID + "' id='inlineRadio1' value='a' checked='checked'> 未完成</label><label class='radio-inline'><input type='radio'name='" + data[index].ID + "' id='inlineRadio2' value='b'> 完成</label>");

                            }
                            else if (data[index].state == "b") {
                                item.html("<label for='inputPassword3' class='col-sm-2 control-label'>" + data[index].task + "</label><div class='col-sm-10 col-xs-10 col-md-9'><label class='radio-inline'><input type='radio' name='" + data[index].ID + "' id='inlineRadio1' value='a' > 未完成</label><label class='radio-inline'><input type='radio'name='" + data[index].ID + "' id='inlineRadio2' value='b' checked='checked'> 完成</label>");
                            }
                            item.appendTo("#task_state");
                        }
                    }
                });
            });
        });


        $("#UpdateTaskStateButton").click(function () {
            $.ajax({
                url: "/UserManager/UpdataTaskState",
                type: "POST",
                data: $("#UpdateTaskStateForm").serialize(),
                datatype: "json",
                success: function (data) {
                    if (data > 0) alert("状态更新成功!");
                }
            });
        });
    })();



    //查看状态描述
    (function () {
        $(".show_project_comment").each(function () {
            $(this).click(function () {
                var project_id = $(this).parent().nextAll(".panel_project_id").val().trim();
                var project_name = $(this).parent().nextAll(".panel_project_name").val();
                var project_state = $(this).parent().nextAll(".panel_project_state").val();
                console.log(project_id);
                $("#modal_project_name").text(project_name + "项目状态");
                $("#modal_project_state").text("状态描述:" + project_state);
                $.ajax({
                    url: "/UserManager/ReturnProjectComment",
                    type: "POST",
                    data: { project_id: project_id },
                    datatype: "json",
                    success: function (data) {
                        console.log(data);
                        $("#modal_project_comment").text("管理员留言:" + data);
                    }
                });
            });
        });
    })();

    //材料文件更新
    (function () {
        $(".show_updatefile_button").each(function () {
            console.log("adsadsa");
            $(this).click(function () {
                var project_id = $(this).parent().nextAll(".panel_project_id").val();
                $("#modal_updatefile_pid").val(project_id)
                var project_name = $(this).parent().nextAll(".panel_project_name").val();
                $("#modal_updatefile_pname").text(project_name+"(可更新1-3个文件，没上传的一栏该项目将继续采用旧文件,注意文件格式,前2个为doc或docx,第3个为zip或rar)");
                $("#modal_updatefile_ppname").val(project_name);
               console.log($("#modal_updatefile_pid").val(), project_id);
            });
        });

        
        $("#modal_updatefile_button").click(function () {
            function getFileName(str) {
                var attr = str.split("\.");
                return attr[attr.length - 1];
            };
            var report_file_name = $("#report_file").val();
            var paper_file_name = $("#paper_file").val();
            var whole_file_name = $("#whole_file").val();
            if (report_file_name == '' && paper_file_name == '' && whole_file_name == '') { alert("没有上传文件或者文件格式不正确!"); }
            else{
                //if ((getFileName(report_file_name) == "doc" || getFileName(report_file_name) == "docx") && (getFileName(paper_file_name) == "doc" || getFileName(paper_file_name) == "docx")
                //    && (getFileName(whole_file_name) == "zip" || getFileName(whole_file_name) == "rar"))
                //{

                //}
                $("#modal_updatefile_form").submit();
                //var result = true;
                //if (report_file_name != '' && (getFileName(report_file_name) != "doc" && getFileName(report_file_name) != "docx")) result = false;
                //if (paper_file_name != '' && (getFileName(paper_file_name) != "doc" && getFileName(paper_file_name) != "docx")) result = false;
                //if (whole_file_name != '' && (getFileName(whole_file_name) != "doc" && getFileName(whole_file_name) != "docx")) result = false;
                //if (result) { $("#modal_updatefile_form").submit(); }
                //else { alert("上传文件格式有误，若您更新中包含前两个，后缀是.doc或者.docx,更新中包含第三个，后缀名是.zip或者.rar");}
            }
        });
    })();
</script>
</body>
</html>    