@using ProjectManager.Model
@{

   // List<Project> project = (List<Project>)ViewBag.project;

    string Title = (string)ViewBag.title;
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/Header.css">
    <link rel="stylesheet" href="~/Content/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="icon" href="~/img/favicon.ico">
    <link href="~/Content/dashboard.css" rel="stylesheet">
    

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="../../img/logo.png" class="header-logo" alt="Responsive image">
              @if((ViewBag.userInfo.belongs)=="a"){
            <a class="navbar-brand" href="#">科研项目管理系统</a>
               string title = "科研";
              ViewBag.Title=title;
            }
            else{
            <a class="navbar-brand" href="#">质量工程项目管理系统</a>
                string title = "质量工程";
                ViewBag.Title = title;
            }
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><span class="header-span">身份:@ViewBag.userInfo.type</span></li>
                <li><span class="header-span">账号:@ViewBag.userInfo.ID</span></li>
                <li><span class="header-span">姓名:@ViewBag.userInfo.nickname</span></li>
                <li><a href="~/UserManager">返回前台</a></li>
                <li><a href="~/Login/Logout">返回登录界面</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                 <li ><a href="~/admin/User_Manage">用户成员管理<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="~/admin/Project_Manage">申报项目管理</a></li>
            </ul>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header clearfix">
              申报项目管理
            </h2>

            <div class="row search_header">
                <div class="col-md-7 col-sm-7">
                    <form class="form-inline" action="~/Admin/selectProject" method="post">
                        <div class="form-group">
                            <select class="form-control" name="now_level">
                                <optgroup label="所处级别">
                                    <option value="all">所处级别(全部)</option>
                                    <option value="a">校级</option>
                                    <option value="b">省级</option>
                                    <option value="c">国家级</option>
                                </optgroup>
                            </select>
                            <select class="form-control" name="target_level">
                                <optgroup label="目标级别">
                                    <option value="all">目标级别(全部)</option>
                                    <option value="b">市级</option>
                                    <option value="c">省级</option>
                                    <option value="d">国家级</option>
                                </optgroup>
                            </select>
                            <select class="form-control" name="state">
                                <optgroup label="审核状态">
                                    <option value="all">审核状态(全部)</option>
                                    <option value="a">申报等待通过</option>
                                    <option value="b">申报未通过</option>
                                    <option value="c">申报通过，等待审核一</option>
                                    <option value="d">审核一未通过</option>
                                    <option value="e">审核一通过</option>
                                    <option value="f">审核二未通过</option>
                                    <option value="g">审核二通过</option>
                                    <option value="h">审核三未通过</option>
                                    <option value="i">审核三通过</option>
                                </optgroup>
                            </select>
                            <select class="form-control" name="order">
                                <optgroup label="排序">
                                    <option value="asc">升序</option>
                                    <option value="desc">降序</option>
                                </optgroup>
                            </select>
                            <button class="btn btn-embossed btn-primary" type="submit">查询</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 col-sm-5">
                    <form class="form-inline" method="post" action="~/admin/projectTypeSelect">
                        <select class="form-control" name="keytype">
                            <optgroup label="关键字类型">
                                <option value="p_name">项目名称</option>
                                <option value="create_time">申报时间</option>
                                <option value="declarant">申报人</option>
                                <option value="leader">负责人</option>
                            </optgroup>
                        </select>
                        <input type="text" class="form-control" placeholder="输入关键字" name="keyword">
                        <button class="btn btn-embossed btn-primary"  type="submit">搜索</button>
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>更新时间</th>
                      <th>申报项目名称</th>
                      <th>申报时间</th>
                      <th>申报人</th>
                      <th>负责人</th>
                      <th>所处级别</th>
                      <th>目标级别</th>
                      <th>审核状态</th>
                      <th>完成状态</th>
                      <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        @{

                            foreach (Project  p in @ViewBag.project.GetPagingData())
                            {

                    <tr>
                        <td>@p.f_time</td>
                        <td>@p.p_name</td>
                        <td>@p.create_time</td>
                        <td>@p.declarant</td>
                        <td>@p.leader</td>
                        @{
                                switch (p.now_level)
                                {
                                    case "a":
                                        <td>校级</td>
                                        break;
                                    case "b":
                                      <td>市级</td>
                                        break;
                                    case "c":
                                       <td>省级</td>
                                        break;
                                    case "d":
                                        <td>国家级</td>
                                        break;
                                  

                                }
                      
                        }
                        
                         @{
                                switch (p.target_level)
                                {
                                    case "a":
                                        <td>校级</td>
                                        break;
                                    case "b":
                                      <td>市级</td>
                                        break;
                                    case "c":
                                       <td>省级</td>
                                        break;
                                    case "d":
                                        <td>国家级</td>
                                        break;
                                  

                                }
                      
                        }
                        @{
                        switch (p.pass_state)
          {
              case "a":
                     <td class="text-danger">申报,待定</td>
                        break;
              case "b":
                    <td class="text-danger">申报未通过</td>
                        break;
              case "c":
                   <td class="text-danger">通过,等待审核</td>
                        break;
              case "d":
                   <td class="text-danger">审核一,未通过</td>
                        break;
              case "e":
                  <td class="text-danger">审核一,通过</td> 
                        break;
              case "f":
                  <td class="text-danger">审核二,未通过</td>
                        break;
              case "g":
                  <td class="text-danger">审核二,通过</td>
                        break;
              case "h":
                  <td class="text-danger">审核三,未通过</td>
                        break;
              case "i":
                   <td class="text-danger">审核三,通过</td>
                        break;
              

          }
                        }
                        <td class="text-danger">@p.finish_state</td>
                        <td><button type="button" class="btn btn-embossed btn-primary btn-xs enroll" data-toggle="modal" data-target="#myModal_ChangeStatus" id="@p.p_id">审核状态录入</button><button class="btn btn-embossed btn-primary btn-xs upload" style="margin-left: 5px;"data-toggle="modal" data-target="#myModal_Download" id="@p.p_id">文件材料下载</button></td>
                    </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>


                   <div class="row">
                 
                       <div class="offset5 span7 col-md-12 col-sm-12 col-xs-12">
                             <ul class="pagination" style="display: table;width: auto;margin-left: auto;margin-right: auto">
                                     @if (@ViewBag.project.HasPrev)
                                {
                                  <li><a href="@Url.Action("Project_Manage", "admin", new { pageIndex = @ViewBag.project.PageIndex - 1 })">上一页</a></li>
                                }
                                  else{
                                    <li><a href="#">上一页</a></li>
                                }
                                @for (int i = 1; i <= @ViewBag.project.PageCount; i++)
                                 {
          
                                    if (@ViewBag.project.PageIndex == i)
                                    {
                                         <li class="active"><a>@i</a></li>
                                    }
                                    else{
                                        <li><a href="@Url.Action("Project_Manage", "admin", new { pageIndex = i })">@i</a></li>
                                    }
                                 }
                                  @if (@ViewBag.project.HasNext)
                                {
                                  <li><a href="@Url.Action("Project_Manage", "admin", new { pageIndex = @ViewBag.project.PageIndex +1 })">下一页</a></li>
                                }
                                  else{
                                        <li><a href="#">下一页</a></li>
                                  }
                               </ul>
                       </div>
                 
            </div>
            

        </div>
    </div>
</div>



<div class="modal fade" id="myModal_ChangeStatus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form class="form-horizontal" id="Commentform">
    <div class="modal-content">     
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">AAA项目审核状态录入</h4>
      </div>
      <div class="modal-body">
          
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2 col-md-3">申报状态</label>
            <div class="col-sm-10 col-xs-10 col-md-9">
              <label class="radio-inline">
               <input type="text" name="p_id" id="ID" value=""  style="display:none">
              <input type="radio" name="inlineRadioOptions" id="a" value="a" checked="checked"> 待定
             </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="b" value="b" > 未通过
             </label>
             <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="c" value="c"> 通过,等待审核
             </label>
             </div>
          </div>   

          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2 col-md-3">审核一状态</label>
            <div class="col-sm-10 col-xs-10 col-md-9">
             <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="d" value="d" > 未通过
             </label>
             <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="e" value="e"> 通过
             </label>
             </div>
           </div>  

           <div class="form-group">  
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2 col-md-3">审核二状态</label>
            <div class="col-sm-10 col-xs-10 col-md-9">
             <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="f" value="f" >未通过
             </label>
             <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="g" value="g"> 通过
             </label>
             </div>  
           </div>    

          <div class="form-group">   
             <label for="inputPassword3" class="col-sm-2 control-label col-xs-2 col-md-3">审核三状态</label>
            <div class="col-sm-10 col-xs-10 col-md-9">
             <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="h" value="h" > 未通过
             </label>
             <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="i" value="i"> 通过
             </label>
             </div> 
          </div>


          <div class="form-group">   
             <label for="inputPassword3" class="col-sm-2 control-label col-xs-2 col-md-3">管理员留言</label>
            <div class="col-sm-10 col-xs-10 col-md-9">
              <textarea class="form-control" rows="6" style="width:90%" placeholder="请反馈与该项目审核相关的信息" id="comment" name="comment"></textarea>
            </div>
          </div>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="modifyComment">保存修改</button>
      </div>
    </div>
    </form>
  </div>
</div>



<div class="modal fade" id="myModal_Download" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">

    <div class="modal-content">     
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">AAA项目文件材料下载</h4>
      </div>
      <div class="modal-body">
           <div class="row" style="margin-left: 20px;">
             <h4 class="col-md-4">
              开题报告word文档
            </h4>
            <a id="report" ><button class="btn btn-embossed btn-primary btn-sm" style="margin-top: 4px" >文件下载</button></a>
          </div>
          <div class="row" style="margin-left: 20px;">
             <h4 class="col-md-4">
              论文材料word文档
            </h4>
             <a id="paper"><button class="btn btn-embossed btn-primary btn-sm" style="margin-top: 4px"  >文件下载</button></a>
          </div>
          <div class="row" style="margin-left: 20px;">
             <h4 class="col-md-4">
              完整项目材料包
            </h4>
             <a id="whole"><button class="btn btn-embossed btn-primary btn-sm" style="margin-top: 4px" id="report" >文件下载</button></a>
          </div>          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>

  </div>
</div>














<script src="~/Scripts/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Content/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/ie-emulation-modes-warning.js"></script>
<script src="~/Scripts/admin_changeState.js"></script>
<script src="~/Scripts/admin_Upload.js"></script>


</body>
   

</html>