@using ProjectManager.Model
@{
    User  user=(User)ViewBag.userinfo;

  //  List<User> userList = (List<User>)Model;

    string Title = (string)ViewBag.title;
    }
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/Header.css">
    <link rel="stylesheet" href="~/Content/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="icon" href="~/img/favicon.ico">
    <link href="~/Content/dashboard.css" rel="stylesheet">
    <script src="~/Scripts/jquery.min.js"></script>
     <script src="~/Scripts/admin_modify.js"></script>
    
</head>

<body>
    <div data-role="page">
     @{
        switch (user.type)
        {
            case "a":
                Response.Write("<script>alert('您无权限访问！');history.back();</script>");
                break;
            default:
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="../../img/logo.png" class="header-logo" alt="Responsive image">
            @if((ViewBag.userInfo.belongs)=="a"){
            <a class="navbar-brand" href="#">科研项目管理系统</a>
               string title = "科研";
              ViewBag.Title=title;
            }
            else{
            <a class="navbar-brand" href="#">质量工程项目管理系统</a>
                string title = "质量工程";
                ViewBag.Title = title;
            }
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                 <li><span class="header-span">身份:@ViewBag.userInfo.type</span></li>
                <li><span class="header-span">账号:@ViewBag.userInfo.ID</span></li>
                <li><span class="header-span">姓名:@ViewBag.userInfo.nickname</span></li>
                <li><a href="~/UserManager">返回前台</a></li>
                <li><a href="~/Login/Logout">返回登录界面</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="~/admin/Users_Manage">用户成员管理<span class="sr-only">(current)</span></a></li>
                <li><a href="~/admin/Project_Manage">申报项目管理</a></li>
            </ul>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header clearfix">
               <span>用户成员管理</span>
               <span class="pull-right">
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_AddUser">添加用户</button>
               </span>
            </h2>

            <div class="row search_header">
                <div class="col-md-7 col-sm-7">
                     <form class="form-inline" action="~/Admin/allSelect" method="post">
                        <div class="form-group">
                            <select class="form-control" name="updownorder1">
                                <optgroup label="用户类型">
                                    <option value="all">用户类型(全部)</option>
                                    <option value="c">超级管理员</option>
                                    <option value="b">普通管理员</option>
                                    <option value="a">普通教职工</option>
                                </optgroup>
                            </select>
                            <select class="form-control" name="updownorder2">
                                <optgroup label="性别">
                                    <option value="all">性别(全部)</option>
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </optgroup>
                            </select>
                            <select class="form-control" name="updownorder3">
                                <optgroup label="排序">
                                    <option value="asc" selected>升序</option>
                                    <option value="desc">降序</option>
                                </optgroup>
                            </select>
                            <button class="btn btn-embossed btn-primary" type="submit">查询</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 col-sm-5">
                  <form class="form-inline" action="~/Admin/typeSelect" method="post">
                        <select class="form-control" name="keytype">
                            <optgroup label="关键字类型">
                                <option value="ID" >用户ID</option>
                                <option value="nickname">姓名</option>
                                <option value="position">职务</option>
                                <option value="email">邮箱</option>
                                <option value="phone">电话号码</option>
                            </optgroup>
                        </select>
                        <input type="text" class="form-control" placeholder="输入关键字" name="keyword">
                        <button class="btn btn-embossed btn-primary" type="submit">搜索</button>
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>用户ID</th>
                        <th>用户类型</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>职务</th>
                        <th>邮箱</th>
                        <th>电话号码</th>
                        <th>具体操作</th>
                    </tr>
                    </thead>
                     <tbody>
                    @{
                    int i=1;

                    foreach (User u in @ViewBag.user.GetPagingData())
                    {

                    <tr>
                        <td>@i</td>
                        <td>@u.ID</td>
                        @switch(u.type){
                            case "a":
                        <td>教职工</td>
                        break;
                         case "b":
                        <td>普通管理员</td>
                        break;
                         case "c":
                        <td>超级管理员</td>
                        break;
                        }
                        <td>@u.nickname</td>
                        <td>@u.sex</td>
                        <td>@u.position</td>
                        <td>@u.email</td>
                        <td>@u.phone</td>
                        @if(string.Compare(user.type,u.type)>0){
                        <td><button type="button" class="btn btn-embossed btn-primary btn-xs edit_btn" data-toggle="modal" data-target="#myModal_ChangeInfo"  id="@u.ID">信息编辑</button><button class="btn btn-embossed btn-danger btn-xs del_btn" style="margin-left: 5px;" id="@u.ID" OnClientClick="savaAddtxt(this);">删除</button></td>
                        }
                        else{
                            <td><button type="button" class="btn btn-embossed btn-primary btn-xs edit_btn" data-toggle="modal" data-target="#myModal_ChangeInfo" id="@u.ID" disabled="disabled">信息编辑</button><button class="btn btn-embossed btn-danger btn-xs " style="margin-left: 5px;" id="@u.ID" disabled="disabled">删除</button></td>
                        } 
                            
                        
                       </tr>
                        i++;
                    }
                    }
                    </tbody>
                </table>
            </div>
                

                   <div class="row">
                 
                       <div class="offset5 span7">
                             <ul class="pagination">
                                     @if (@ViewBag.user.HasPrev)
                                {
                                  <li><a href="@Url.Action("index", "admin", new { pageIndex = @ViewBag.user.PageIndex - 1 })">上一页</a></li>
                                }
                                  else{
                                    <li><a href="#">上一页</a></li>
                                }
                                @for (int a = 1; a <= @ViewBag.user.PageCount; a++)
                                 {
          
                                    <li><a href="@Url.Action("index", "admin", new { pageIndex = a })">@a</a></li>
                                 }
                                  @if (@ViewBag.user.HasNext)
                                {
                                  <li><a href="@Url.Action("index", "admin", new { pageIndex = @ViewBag.user.PageIndex +1 })">下一页</a></li>
                                }
                                  else{
                                        <li><a href="#">下一页</a></li>
                                  }
                               </ul>
                       </div>
                 
            </div>


        </div>
    </div>
</div>



<div class="modal fade" id="myModal_AddUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form class="form-horizontal" id="userForm">
    <div class="modal-content">     
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加用户</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label col-xs-2">用户ID</label>
            <div class="col-sm-10 col-xs-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="请输入用户ID" style="width: 90%" name="UserID">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label col-xs-2">用户密码</label>
            <div class="col-sm-10 col-xs-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="请输入用户密码" style="width: 90%" name="pwd">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2">姓名</label>
            <div class="col-sm-10 col-xs-10">
              <input type="text" class="form-control" id="inputPassword3" placeholder="请输入姓名" style="width: 90%" name="nickname">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2">职务</label>
            <div class="col-sm-10 col-xs-10">
              <input type="text" class="form-control" id="sds" placeholder="请输入职务" style="width: 90%" name="position">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2">邮箱</label>
            <div class="col-sm-10 col-xs-10">
              <input type="text" class="form-control" id="inputPassword3" placeholder="请输入邮箱" style="width: 90%" name="email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2">手机</label>
            <div class="col-sm-10 col-xs-10">
              <input type="text" class="form-control" id="inputPassword3" placeholder="请输入手机" style="width: 90%" name="phone">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2">性别</label>
            <div class="col-sm-10 col-xs-10">
            <label class="radio-inline">
              <input type="radio" name="sex" id="inlineRadio1" checked="checked" value="男"> 男
             </label>
             <label class="radio-inline">
              <input type="radio" name="sex" id="inlineRadio2"  value="女"> 女
             </label>
             </div>
          </div> 
          <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label col-xs-2">类型</label>
                      <div class="col-sm-4 col-xs-5 col-md-4">
                         <select class="form-control input-sm" name="type">
                           <option selected="selected" value="a">普通教职员</option>
                           <option value="b">普通管理员</option>
                         </select>
                      </div>
          </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="addUser_btn">添加</button>
      </div>
    </div>
    </form>
  </div>
</div>



<div class="modal fade" id="myModal_ChangeInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form class="form-horizontal" id="userChange">
    <div class="modal-content">     
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="UserID">用户:20131003616</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2">密码</label>
            <div class="col-sm-10 col-xs-10">
              <input type="text" class="form-control" id="ID" name="UserID" placeholder="请输入密码" style="width: 90%;display:none" value="36995425" >
              <input type="text" class="form-control" id="pwd" name="pwd" placeholder="请输入密码" style="width: 90%" value="36995425">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2">姓名</label>
            <div class="col-sm-10 col-xs-10">
              <input type="text" class="form-control" id="nickname" name="nickname" placeholder="请输入姓名" style="width: 90%" value="张朝钿">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2">职务</label>
            <div class="col-sm-10 col-xs-10">
              <input type="text" class="form-control" id="position" name="position" placeholder="请输入职务" style="width: 90%" value="科研处主任">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2">邮箱</label>
            <div class="col-sm-10 col-xs-10">
              <input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱" style="width: 90%" value="894535962@qq.com">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2">手机</label>
            <div class="col-sm-10 col-xs-10">
              <input type="text" class="form-control" id="phone" name="phone" placeholder="请输入手机" style="width: 90%" value="18819490467">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label col-xs-2">性别</label>
            <div class="col-sm-10 col-xs-10" value="男">
            <label class="radio-inline">
              <input type="radio" name="sex" id="sexRadio1" value="男" checked="checked" > 男
             </label>
             <label class="radio-inline">
              <input type="radio" name="sex" id="sexRadio2" value="女"> 女
             </label>
             </div>
          </div> 
          <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label col-xs-2">类型</label>
                      <div class="col-sm-4 col-xs-5 col-md-4">
                         <select class="form-control input-sm" id="type" name="type">
                           <option selected="selected" id="u_type1" value="a">普通教职员</option>
                           <option id="u_type2" value="b">普通管理员</option>
                         </select>
                      </div>
          </div>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="modify_btn">保存修改</button>
      </div>
    </div>
    </form>
  </div>
</div>

    
                break;

 }

}







        </div>




<script src="~/Scripts/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Content/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/ie-emulation-modes-warning.js"></script>
 <script src="~/Scripts/admin_modify.js"></script>
</body>


</html>